#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list {
  border-radius: 5px;
  box-shadow: 3px 3px rgb(223, 227, 227);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
  padding: 1rem;
}

.head-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-size: medium;
}

.material-symbols-outlined {
  font-size: smaller;
}

.add-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: lighter;
}

.placeholder {
  border: none;
  display: flex;
  margin-top: 1.5rem;
}

#description {
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  width: 100%;
}

.check-list {
  padding: 0;
}

.check-list .material-symbols-outlined {
  font-size: large;
  position: absolute;
  right: 0%;
}

.list-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
  height: 35px;
}

li {
  display: flex;
  position: relative;
  gap: 10px;
  padding: 1rem 0;
}

.btn {
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: grey;
}

/* editing */
.lb-task {
  display: block;
}

.ta-task {
  display: none;
}

.list-items.editing .lb-task {
  display: none;
}

.list-items.editing .ta-task {
  display: block;
}

/* erasing */
.trash {
  display: none;
}

.dots {
  display: block;
}

.list-items.erasing .trash {
  display: block;
}

.list-items.erasing .dots {
  display: none;
}

/* check status */
.completed {
  text-decoration: line-through;
}